.map {
    height: 100vh;
    width: 100%;
}

.map__hint {
    padding: 20px;
    min-height: 55px;
    min-width: 195px;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
    background-color: #f9b43b;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
    border-radius: 20px;
}

.balloon_placemark_container{
    width: 1353px;
    height: 1351px;
    background: #f5ffdd;
}


.balloon_container {
    width: 353px;
    height: 351px;
    background: #FFFFFF;
}
.custom_balloon_header{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.comment_header{
    /*position: absolute;*/
    width: 58px;
    height: 18px;
    margin-left: 17px;
    margin-top: 29px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

    color: #000000;
}

.name{
    /*position: absolute;*/
    width: 310px;
    height: 38px;
    padding: 11px;
    margin-top: 20px;
    margin-left: 17px;

    background: #FFFFFF;

    border: 1px solid #1371C8;
    box-sizing: border-box;
    border-radius: 3px;
}

.location{
    /*position: absolute;*/
    width: 310px;
    height: 38px;
    padding: 11px;
    margin-top: 5px;
    margin-left: 17px;


    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 3px;
}

.comment_text{
    /*position: absolute;*/
    width: 310px;
    height: 98px;
    padding: 11px;
    margin-top: 5px;
    margin-left: 17px;

    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 3px;
}


.submit_btn{
    width: 107px;
    height: 38px;
    margin-top: 19px;
    margin-left: 17px;
    background: #FF8663;
    border-radius: 3px;
    border: none; /*чтобы не было тени*/


    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /*display: flex;*/
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.submit_btn a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

.submit_btn a:visited {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}






/* карусель отзывов bootstrap */
body {
    background: #C1C1C3;
    margin: 0;
    padding: 0!important;
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #564B4B;
    }


#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
    left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
    right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
    background: #333333;
}
#quote-carousel img {
    width: 100px;
    height: 100px;
    border: 4px solid #E8E8E8;
    box-shadow: 0px 0px 1px 1px #929292;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote  {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
